#body{
    background-color:beige;
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right top; 
}


* {
    box-sizing: inherit;
}


#gif {
    position: relative;
    /* top:230px;
    left:500px; */
} 

/* #enter {
    position: relative;
    top:200px;
    left: 450px;
} */

#yelpwidget {
    /* position: relative; */
    /* top: 200px; */
    /* width:50%; */
    font-family: 'Raleway', sans-serif;
}

#top {
/* position: relative; */
/* top: 200px; */
/* width:100%; */
    font-family: 'Raleway', sans-serif;
}

* {
    font-family: 'Raleway', sans-serif;   
}

#yelpwidget {
    font-weight: bold;
    font-size: 20px;
}

#jumbo {
    background-color:rgb(129,29,83, .7);
    color:white;
}

#start {
    padding-left:30px;
    padding-right:30px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255,11,1);
    position: relative;
}

#submit {
    background-color:rgb(102,102,102);
}

#results {
    background-color:rgb(255,111,1, .7);
}

#foodResults {
    background-color:rgb(254,216,0, .7);
}