#body{
    background-color:beige;
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: 1500px 700px;
    background-position: right top; }
#format {
    margin: auto;
    width: 50%;
    padding: 10px;
}
  
  #gif {
      position: relative;
      top:230px;
      left:500px;
  } 
  #enter {
      position: relative;
      top:200px;
      left: 450px;
      
  }
  #yelpwidget, #top {
      position: relative;
      top: 200px;
      width:50%;
      font-family: 'Raleway', sans-serif;
  }
  #yelpwidget{
      font-weight: bold;
      font-size: 20px;
  }
  #top{
      background-color:rgb(129,29,83);
  }
  #start{
      padding-left:30px;
      padding-right:30px;
      font-size: 25px;
      font-family: 'Raleway', sans-serif;
      background-color: rgb(255,11,1);
      position: relative;
    
      
    
  }

  /* #zip{
      position: relative;
      bottom:-150px;
  } */
  /* .btn{
      color:(129,28,83);
  } */
  /* #start {
	width: 200px;
	height: 200px;
	
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	
	animation-name: spin; 
	animation-duration: 3s; /* 3 seconds
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
} */
/* #opener{
    position: relative;
    float:left;
}   */